@model IEnumerable<Aircraft>

@{
    ViewData["Title"] = "List of Aircrafts";
}

@* Code *@
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 col-md-3 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white" style="background-color: rgb(16 51 59) !important">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.ModelName
                                    <a class="text-white float-right"><i class="bi bi-pencil-square float-right"></i></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.ImageURL" width="100%" alt="@item.ModelName" class="aircraft">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.Specifications</p>
                            <p class="card-text"><b>Base Price: </b>$@item.BasePrice.ToString("#,##0")</p>
                            <p class="card-text ">
                                <b>Status: </b>
                                @if (item.Status)
                                {
                                    <span class="badge bg-success text-white">Available</span>
                                }
                                else
                                {
                                    <span class="badge bg-error text-white">Out-of-Stock</span>
                                }
                            </p>

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer ">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye-fill"></i> Show Details</a>
                                @* <a class="btn btn-danger float-right" asp-action="Delete" asp-route-id="@item.AircraftId"><i class="bi bi-trash"></i></a> *@
                                <a class="btn btn-success text-white"><i class="bi bi-cart-plus"></i> Add to Cart</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>